on:
  workflow_call:
    inputs:
      godot_tag:
        required: true
        type: string

      godot_version:
        required: true
        type: string

      steamworks_sdk_tag:
        required: true
        type: string

    secrets:
      steamworks_sdk_repo:
        required: true

      steamworks_sdk_repo_token:
        required: true


jobs:
  build-macos:
    runs-on: macos-latest


    name: Mac ${{ matrix.name }}


    env:
      STRIP: "strip -u -r"


    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Editor and Templates
            cache-name: macos


    steps:
      - uses: actions/checkout@v4

      # Download Godot to start
      - name: Download Godot
        uses: ./.github/actions/download-godot
        with:
          version: ${{ inputs.godot_tag }}

      # Download GodotSteam
      - name: Download GodotSteam
        uses: ./.github/actions/download-godotsteam

      # Download Steamworks SDK
      - name: Download Steamworks SDK
        uses: ./.github/actions/download-steamworks
        with:
          path: "steamworks"
          repository: ${{ secrets.steamworks_sdk_repo }}
          token: ${{ secrets.steamworks_sdk_repo_token }}
          ref: ${{ inputs.steamworks_sdk_tag }}

      # Download and install Vulkan
      - name: Download Vulkan SDK
        uses: ./.github/actions/download-vulkan

      # Get that cache money
      - name: Setup Build Cache
        uses: ./.github/actions/setup-cache
        with:
          cache-name: ${{ matrix.cache-name }}
          godot-base: inputs.godot_tag
        continue-on-error: true

      # Setup Python and SCONS
      - name: Setup Python and SCONS
        uses: ./.github/actions/setup-dependencies

      # Compiling editors
      - name: Editor Compilation (arch=x86_64)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=x86_64
          platform: macos
          target: editor

      - name: Editor Compilation (arch=arm64)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=arm64
          platform: macos
          target: editor

      # Create Mac Universal package
      - name: Package Editor (arch=arm64, x86_64)
        uses: ./.github/actions/prep-macos
        with:
          target: 'editor'

      - name: Upload Editor
        uses: ./.github/actions/upload-artifact
        with:
          name: ${{ matrix.cache-name }}-editor
          path: bin/macos_editor.zip

      - name: Clear bin
        run: |
          rm -rf bin

      # Compiling templates
      - name: Debug Template Compilation (arch=x86_64, target=template_debug)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=x86_64
          platform: macos
          target: template_debug

      - name: Debug Template Compilation (arch=arm64, target=template_debug)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=arm64 debug_symbols=no
          platform: macos
          target: template_debug

      - name: Release Template Compilation (arch=x86_64, target=template_release)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=x86_64
          platform: macos
          target: template_release

      - name: Release template Compilation (arch=arm64, target=template_release)
        uses: ./.github/actions/build-godot
        with:
          sconsflags: arch=arm64 debug_symbols=no
          platform: macos
          target: template_release

      # Create Mac Universal package
      - name: Package Templates (arch=arm64, x86_64)
        uses: ./.github/actions/prep-macos
        with:
          target: 'templates'

      - name: Upload Mac Template App
        uses: ./.github/actions/upload-artifact
        with:
          name: macos-template-app
          path: bin/macos.zip

      - name: Clear bin
        run: |
          rm -rf bin